<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qams.dao.CaseMapper">
	<resultMap id="BaseResultMap" type="com.qams.domain.Case">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="projectId" jdbcType="INTEGER" property="projectid" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="level" jdbcType="INTEGER" property="level" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="step" jdbcType="CHAR" property="step" />
		<result column="file" jdbcType="VARCHAR" property="file" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="creater" jdbcType="INTEGER" property="creater" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, projectId, pid, type, name, level, description, step,
		file, status,
		creater,
		createtime, update_time
	</sql>
	<!-- 通过用例父id获取该id下的所有用例 -->
	<select id="selectCasesByPid" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_case
		where pid=#{id,jdbcType=INTEGER} AND status =1
	</select>
	<!-- 插入实体类中非空字段数据 -->
	<insert id="insertSelective" parameterType="com.qams.domain.Case"
		keyProperty="id">
		insert into t_case
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="projectid != null">
				projectId,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="step != null">
				step,
			</if>
			<if test="file != null">
				file,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="projectid != null">
				#{projectid,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="step != null">
				#{step,jdbcType=CHAR},
			</if>
			<if test="file != null">
				#{file,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<!-- 通过主键id获取该case -->
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_case
		where id = #{id,jdbcType=INTEGER} and status =1
	</select>
	<!-- 通过projectid获取该项目的主目录 -->
	<select id="selectByProjectId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_case
		where status = 1 AND
		projectId=#{projectId,jdbcType=INTEGER}
	</select>
	<!-- 更新该id下的case信息 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.qams.domain.Case">
		update t_case
		<set>
			<if test="projectid != null">
				projectId = #{projectid,jdbcType=INTEGER},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="step != null">
				step = #{step,jdbcType=CHAR},
			</if>
			<if test="file != null">
				file = #{file,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>