<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qams.dao.DictMapper">
	<resultMap id="BaseResultMap" type="com.qams.domain.Dict">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="value" jdbcType="VARCHAR" property="value" />
		<result column="table_name" jdbcType="VARCHAR" property="tableName" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="creater" jdbcType="INTEGER" property="creater" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type, name, value, table_name, status, creater,
		createtime,
		update_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dict
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByNotnull" parameterType="com.qams.domain.Dict"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_dict
		where status=1
		<if test="type !=null">
			and type=#{type,jdbcType=VARCHAR}
		</if>
		<if test="name !=null">
			and name=#{name,jdbcType=VARCHAR}
		</if>
		<if test="value !=null">
			and value=#{value,jdbcType=VARCHAR}
		</if>
		<if test="tableName !=null">
			and table_name=#{tableName,jdbcType=VARCHAR}
		</if>
		
		order by id asc
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_dict
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.qams.domain.Dict">
		insert into t_dict (id, type,
		name,
		value, table_name, status,
		creater, createtime, update_time
		)
		values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{value,jdbcType=VARCHAR},
		#{tableName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{creater,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.qams.domain.Dict">
		insert into t_dict
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="value != null">
				value,
			</if>
			<if test="tableName != null">
				table_name,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				#{value,jdbcType=VARCHAR},
			</if>
			<if test="tableName != null">
				#{tableName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.qams.domain.Dict">
		update t_dict
		<set>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				value = #{value,jdbcType=VARCHAR},
			</if>
			<if test="tableName != null">
				table_name = #{tableName,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.qams.domain.Dict">
		update t_dict
		set
		type = #{type,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		value
		= #{value,jdbcType=VARCHAR},
		table_name =
		#{tableName,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		creater = #{creater,jdbcType=INTEGER},
		createtime =
		#{createtime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>