<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qams.dao.RoleProjectRelationMapper">
	<resultMap id="BaseResultMap" type="com.qams.domain.RoleProjectRelation">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="roleId" jdbcType="INTEGER" property="roleid" />
		<result column="projectId" jdbcType="INTEGER" property="projectid" />
		<result column="auth" jdbcType="INTEGER" property="auth" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="creater" jdbcType="INTEGER" property="creater" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, roleId, projectId, auth, status, creater, createtime,
		updatetime
	</sql>
	<resultMap id="ProjectResultMap" type="com.qams.domain.Project">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="file" jdbcType="VARCHAR" property="file" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="creater" jdbcType="INTEGER" property="creater" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
	</resultMap>
	<sql id="Project_Column_List">
		p.id, p.name, p.description, p.file, p.status, p.creater, p.createtime,
		p.updatetime
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_role_project_relation
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByRoleids" resultMap="ProjectResultMap">
		select distinct
		<include refid="Project_Column_List" />
		FROM t_project p
		JOIN t_role_project_relation rpr ON p.id=rpr.projectId
		WHERE rpr.status=1 and p.status=1 and
		rpr.roleId in 
		<foreach collection="list" item="roleIds" index="index"
			open="(" close=")" separator=",">
			#{roleIds}
		</foreach>
	</select>
	<insert id="insertSelective" parameterType="com.qams.domain.RoleProjectRelation"
		keyProperty="id" useGeneratedKeys="true">
		insert into t_role_project_relation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="roleid != null">
				roleId,
			</if>
			<if test="projectid != null">
				projectId,
			</if>
			<if test="auth != null">
				auth,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="updatetime != null">
				updatetime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="roleid != null">
				#{roleid,jdbcType=INTEGER},
			</if>
			<if test="projectid != null">
				#{projectid,jdbcType=INTEGER},
			</if>
			<if test="auth != null">
				#{auth,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
</mapper>