<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qams.dao.RoleProjectMapper">
	<resultMap id="BaseResultMap" type="com.qams.domain.RoleProject">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="roleId" jdbcType="INTEGER" property="roleId" />
		<result column="projectId" jdbcType="INTEGER" property="projectid" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="creater" jdbcType="INTEGER" property="creater" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, roleId, projectId, status, creater, createTime,
		updateTime
	</sql>
	<select id="selectByRoleid" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_role_project
		where roleId = #{roleId,jdbcType=INTEGER} AND
		status=1
		ORDER BY id desc
	</select>
</mapper>