<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qams.dao.UserProjectMapper">
	<resultMap id="BaseResultMap" type="com.qams.domain.UserProject">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userId" jdbcType="INTEGER" property="userid" />
		<result column="projectId" jdbcType="INTEGER" property="projectid" />
		<result column="creater" jdbcType="INTEGER" property="creater" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userId, projectId, creater, status, createTime,
		updateTime
	</sql>
	<select id="selectByUserid" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user_project
		where userId = #{userId,jdbcType=INTEGER} AND
		status=1 
		ORDER BY id desc
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user_project
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_user_project
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.qams.domain.UserProject">
		insert into t_user_project
		(id, userId, projectId,
		creater, status, createTime,
		updateTime)
		values
		(#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
		#{projectid,jdbcType=INTEGER},
		#{creater,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
		#{updatetime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.qams.domain.UserProject">
		insert into t_user_project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userid != null">
				userId,
			</if>
			<if test="projectid != null">
				projectId,
			</if>
			<if test="creater != null">
				creater,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="updatetime != null">
				updateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="projectid != null">
				#{projectid,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				#{creater,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.qams.domain.UserProject">
		update t_user_project
		<set>
			<if test="userid != null">
				userId = #{userid,jdbcType=INTEGER},
			</if>
			<if test="projectid != null">
				projectId = #{projectid,jdbcType=INTEGER},
			</if>
			<if test="creater != null">
				creater = #{creater,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updateTime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.qams.domain.UserProject">
		update
		t_user_project
		set userId = #{userid,jdbcType=INTEGER},
		projectId =
		#{projectid,jdbcType=INTEGER},
		creater = #{creater,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		createTime =
		#{createtime,jdbcType=TIMESTAMP},
		updateTime =
		#{updatetime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>